:root{
   
    --font-family_main : 'Montserrat', sans-serif;
    --font-family_second : 'courgette', 'Arial Narrow', Arial, sans-serif;
    --font-family_title : 'Bungee Shade', cursive;
}


body {
    background-color: coral;
    font-family: var(--font-family_main);
    color: white;
}
h1, h2 {
    color: darkslategray;
}
.title_underline_dotted {
    border-bottom: darkslategray dotted 4px;
}
.ff_main {
    font-family: var(--font-family_title);
}
 .ff_second {
     font-family: var(--font-family_second);
}
.citationBlock {
    height: 200px;
}
#resultatCitation {
    font-size: 2rem;
}

button:hover {background-color: #3e8e41}
button:active {
  background-color: red;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}
#solution1, #solution3 {
    visibility:hidden;
    color:rgb(100, 58, 58);
} 